<template>
  <view class="container"> 
        <text class="text-color-primary">My Vu Native Ap</text>
        <text-input class="cuadroBusqueda"
            :style="{height: 40, width: 250, borderColor: 'gray', borderWidth: 1}"
            v-model="busqueda"
          />
          <!--<button class="button"
            :on-press="onPressLearnMore"
            title="Buscar"
            color="#841584"
            accessibility-label=""
        />-->
        <!--<flat-list
        :data="peliculas"
        :render-item="({item}) => renderList(item)"
        /> v-if="busqueda === pelicula.name"-->
    <scroll-view :style="{width: '100%'}">
        <view class="peliculas" v-for="(pelicula,index) in peliculas" :key="index">
          <touchable-opacity class="flex-container" :on-press="() => clickPelicula(pelicula)" v-if="busqueda === ''">
            <image
              :style="{width: 120, height: 200, marginRight: 8}"
              :source="{uri: pelicula.imageSrc}"
            />
            <!--imagen esta aqui-->
            <text>{{pelicula.name}}</text>
          </touchable-opacity>
          <touchable-opacity class="flex-container" :on-press="() => clickPelicula(pelicula)" v-else-if="busqueda ===pelicula.name">
            <image
              :style="{width: 120, height: 200, marginRight: 8}"
              :source="{uri: pelicula.imageSrc}"
            />
            <!--imagen esta aqui-->
            <text>{{pelicula.name}}</text>
          </touchable-opacity>
        </view>
    </scroll-view>    
  </view>
  
</template>
<script>

export default {
  data: function(){
    return{
      
      busqueda: '',
      peliculas: [
        {name: "mujer maravilla", imageSrc:"https://images.pexels.com/photos/5236883/pexels-photo-5236883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "La gran tormenta", imageSrc:"https://images.pexels.com/photos/2387877/pexels-photo-2387877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Un romance de paris", imageSrc:"https://images.pexels.com/photos/4173679/pexels-photo-4173679.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "buscando a charlie mi persona", imageSrc:"https://images.pexels.com/photos/4436222/pexels-photo-4436222.png?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Postre de Chocolate", imageSrc:"https://images.pexels.com/photos/4186246/pexels-photo-4186246.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Arroz a la Valenciana", imageSrc:"https://images.pexels.com/photos/4940832/pexels-photo-4940832.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Frutos Secos", imageSrc:"https://images.pexels.com/photos/4440455/pexels-photo-4440455.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Frapuccino", imageSrc:"https://images.pexels.com/photos/4328231/pexels-photo-4328231.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Pan de Arina Integral", imageSrc:"https://images.pexels.com/photos/4234507/pexels-photo-4234507.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"},
        {name: "Carne a la Parrilla", imageSrc:"https://images.pexels.com/photos/5070772/pexels-photo-5070772.png?auto=compress&cs=tinysrgb&dpr=1&w=500"}
      ]
    };
  },
  methods:{
    /*onPressLearnMore: function(){
      
    },*/
    clickPelicula(pelicula){
      alert(pelicula.name)
    },

    /*renderList: (item) => {
        return (<Text>{item.name}</Text>)
    }*/
  }
}
</script>

<style>
.container {
  margin-top: 40px;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;  
}
.text-color-primary {
  color: blue;
}
.cuadroBusqueda{
  margin-bottom: 20px;
}
.peliculas{
  width: 100%;
}
.flex-container{
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1;
  border-color: black;
  padding: 15;
}
</style>
